<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Open Speech Recording</h1>
      </header>

      <section class="top-display">
    <div class="welcome-display">
          We at <a href="http://web.iitd.ac.in/~lalank/anjaneya/index.html">Anjaneya Services, IIT Delhi</a> are developing a product - CROAM which makes use of Keyword Spotting paradign of Artificial Intelligence. But there are very few open source collections of speech data where individual
	  words are spoken by a large number of different people. This makes it tough to
	  build good open source examples of detecting even very common spoken keywords such as 
	  &quot;Yes&quot;, &quot;No&quot;, &quot;On&quot;, or &quot;Off&quot;.	</div>
	<div class="welcome-display">
          To train our model, we are trying to collect audio samples of words - 'HELP' and 'BACHAO' from 100s of people. We would be in prototype phase before the end of the summer and your few seconds of help would be wondorous to us.
	</div>

	<div class="welcome-display">
To make sure that we're able to use your voice data for our Machine Learning model, we need to get your agreement formally. If you would like to participate in providing some samples, please review and confirm your agreement to the following:
	</div>
	<div class="legal"> 
Participant Agreement
	</div>
	<div class="legal">
1.	By participating, this website will ask for permission to use your microphone and prompt you to speak single words which we will record (the “Study”). These words will appear on-screen, one after another, over the course of around one minute, with short pauses in between. When the microphone is active, you’ll see an oscilloscope display showing a waveform reflecting the audio received. The Record button will turn red when a word is being recorded (each a “clip”). Clips will be displayed in the bottom half of the web page where you can review and delete any of them locally before submitting them to Google. Clips will only be sent to Google when you press the ‘Upload’ button, or the ‘OK’ button on the dialog that appears once you’ve completed all the requested words. At any point you can press the ‘Stop’ button to pause the recording process. Navigating away from this website will remove all local copies of the clips.
	</div>
	<div class="legal">
2.	Your participation is voluntary and you may choose to cease participation at any time. You will not be compensated for your participation. <b>If you choose to participate in this Study, you must be in a quiet room with no other voices and only speak the requested words. A closed room is a good place for this</b>. 
	</div>
	<div class="legal">
3.	By participating, you agree that we may use the clips to develop and improve its products, and share the clips with others, including the general public, for example, as part of a public dataset to facilitate research. You understand that your voice alone or in combination with other information could identify you. You specifically waive and release any potential intellectual property right, right of publicity, or right of privacy claim against Google or others for use or sharing of your clips.	
	</div>

	<div class="legal">
5.	This agreement does not create any agency or partnership relationship. This agreement is not assignable or transferable by you. This agreement is the parties’ entire agreement on this topic, superseding any prior or contemporaneous agreements. Any amendments must be in writing. Failure to enforce any of provisions of this agreement will not constitute a waiver.
	</div>
	<div class="legal">
By clicking ‘I Agree’ you confirm that you are at least eighteen years of age, you understand the points above, and consent to the collection, use, and sharing of the Clips. 
	</div>
      </section>

      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
	    <button class="continue">I Agree</button>
	  </a>
        </div>
      </section>

    </div>

<!-- 
    <footer>
      <a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      <a href="https://www.google.com/intl/en/policies/terms/">Terms</a>
      <a href="/legal">Participant Agreement</a>
    </footer>
 -->
  </body>
</html>
